automl==2.9.9
backoff==1.6.0
cachetools==2.1.0
certifi==2022.12.7
chardet==3.0.4
deap==1.2.2
dill==0.2.8.2
enum34==1.1.6
futures==3.2.0
google-api-core==1.4.0
google-auth==1.5.1
google-cloud-automl==0.1.1
google-cloud-vision==0.34.0
googleapis-common-protos==1.5.3
grpcio==1.15.0
h5py==2.8.0
idna==2.7
lightgbm==2.0.12
multiprocess==0.70.6.1
numpy==1.15.1
oauthlib==2.1.0
pandas==0.23.4
pathos==0.2.2.1
pox==0.2.4
ppft==1.6.4.8
protobuf==3.6.1
pyasn1==0.4.4
pyasn1-modules==0.2.2
PySocks==1.6.8
python-dateutil==2.7.3
pytz==2018.5
requests==2.19.1
requests-oauthlib==1.0.0
rollbar==0.14.5
rsa==4.0
scikit-learn==0.19.2
scipy==1.1.0
six==1.11.0
sklearn-deap2==0.2.2
tabulate==0.8.2
tweepy==3.6.0
urllib3==1.23
wget==3.2
